{% load static %}

{% with request.resolver_match.url_name as selected_page %}

<div class="fixed-top">
  <header>
    <div class="header-container">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img class="logo" src="{% static 'img/logo/logo.png' %}" alt="My Logo">
      </a>
      <nav class="navbar navbar-expand-md navbar-light bg-light d-flex align-items-center">
        <div class="container-fluid">
          <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="menu-text ml-auto">Menu</span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item{% if selected_page == 'index' %} active{% endif %}">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
              </li>
              <li class="nav-item{% if selected_page == 'about' %} active{% endif %}">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Products
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a href="{% url 'products' %}" class="dropdown-item{% if not selected_category %} active{% endif %}">All Products</a>
                      {% for category in categories %}
                          <a href="{% url 'products_by_category' category.id %}" class="dropdown-item{% if selected_category == category %} active{% endif %}">{{ category.name }}</a>
                      {% endfor %}
                  </div>
              </li>
              <li class="nav-item{% if selected_page == 'news' %} active{% endif %}">
                <a class="nav-link" href="{% url 'news' %}">News</a>
              </li>
              <li class="nav-item{% if selected_page == 'contact' %} active{% endif %}">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
              </li>
              {% if user.is_authenticated %}
                <li class="nav-item{% if selected_page == 'dashboard' %} active{% endif %}">
                  <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
              {% else %}
                <li class="nav-item{% if selected_page == 'login' %} active{% endif %}">
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item{% if selected_page == 'signup' %} active{% endif %}">
                  <a class="nav-link" href="{% url 'signup' %}">Signup</a>
                </li>
              {% endif %}
             </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="search-container d-flex align-items-center">
      <div class="search-bar-container">
        <input type="text" class="search-bar" placeholder="Search">
      </div>
      <button class="search-btn" type="submit" onclick="searchProducts()" aria-label="Search Products">Search</button>
    </div>
  </header>
</div>
{% endwith %}