html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  color: #333;
  background-color: #D3D3D3; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #2F6EA7;
  color: #F5F5F5; }

nav {
  display: flex;
  align-items: center;
  background-color: #F5F5F5;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.2); }

nav ul {
  list-style: none;
  padding-left: 2rem; }

nav li {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: center; }

nav a {
  color: #F5F5F5;
  text-decoration: none;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s; }

nav a:hover,
nav a:focus {
  color: #EE4150; }

nav .dropdown-menu {
  background-color: #F5F5F5;
  border: none;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-top: 0.25rem;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.2); }

nav .dropdown-menu a {
  text-decoration: none;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s; }
  nav .dropdown-menu a:hover, nav .dropdown-menu a:focus {
    color: #EE4150; }

.navbar-collapse {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem; }

.logo {
  height: 3rem;
  width: auto; }

.search-bar-container {
  display: flex;
  align-items: center;
  margin-left: 2rem; }

.search-bar {
  width: 20rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  border: 1px solid #777;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-left: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
  -webkit-transition: border-color 0.3s, box-shadow 0.3s;
  -moz-transition: border-color 0.3s, box-shadow 0.3s;
  -o-transition: border-color 0.3s, box-shadow 0.3s; }

.search-bar:focus {
  border-color: #2F6EA7;
  box-shadow: 0 1px 3px 0 rgba(47, 110, 167, 0.2); }

.search-btn {
  background-color: #EE4150;
  border: none;
  border-radius: 0.25rem;
  color: #F5F5F5;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-left: 0.5rem;
  transition: background-color 0.3s, color 0.3s;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s; }

.search-btn:hover,
.search-btn:focus {
  background-color: #EE4150; }

.container {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 1rem; }

.card {
  display: flex;
  flex-direction: column;
  min-height: 22rem;
  margin-bottom: 1rem; }

.card-body {
  flex-grow: 1; }

.product-card-container {
  display: flex;
  align-items: stretch;
  height: 100%; }

main {
  flex-grow: 1;
  max-width: 75rem;
  margin: 0 auto;
  padding: 4rem 1rem;
  margin-top: 4rem; }

.hero {
  background-color: #EE4150;
  padding: 6rem;
  color: #F5F5F5;
  text-align: center; }

.hero h2 {
  font-size: 3rem;
  margin-bottom: 2rem; }

.hero p {
  font-size: 1.5rem;
  margin-bottom: 4rem; }

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #2F6EA7;
  color: #F5F5F5;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s; }

.btn:hover,
.btn:focus {
  background-color: #F5F5F5;
  color: #2F6EA7; }

.services {
  padding: 6rem;
  text-align: center; }

.services h2 {
  font-size: 3rem;
  margin-bottom: 1rem; }

.services ul {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  list-style: none;
  margin-bottom: 4rem; }

.services li:not(:last-child) {
  margin-right: 2rem; }

.services a {
  display: block;
  text-decoration: none;
  color: #333; }

.services img {
  max-width: 100%;
  height: auto; }

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.search-container {
  display: none; }

.form-section {
  padding: 1rem; }

footer {
  background-color: #2F6EA7;
  color: #F5F5F5;
  padding: 1rem;
  text-align: center;
  margin-top: auto; }

.item {
  background-color: #777;
  padding: 1rem;
  text-align: center;
  flex: 1 1 20rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(47, 110, 167, 0.2); }

/* Media queries for responsive design */
@media only screen and (max-width: 1024px) {
  body {
    padding-top: calc(4rem + 1rem); }
  header {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    z-index: 100;
    width: 100%; }
  .header-container {
    flex-direction: column; }
  .logo {
    height: 2.5rem;
    margin-bottom: 0.5rem; }
  nav {
    display: flex;
    align-items: center;
    background-color: #2F6EA7;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.2); }
  nav a {
    color: #333; }
  .navbar-collapse ul {
    padding: 1rem; }
  .search-bar-container {
    margin-left: 0;
    margin-top: 0.5rem; }
  .search-container {
    display: flex; }
  .search-bar {
    margin-left: 0; }
  .search-btn {
    display: none; }
  main {
    padding: 2rem 0.5rem;
    width: 100%; }
  .hero {
    padding: 4rem;
    margin-top: calc(4rem + 1rem); }
  .hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem; }
  .hero p {
    font-size: 1.25rem;
    margin-bottom: 2rem; }
  .services ul {
    flex-direction: column; }
  .services li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 2rem; }
  .btn {
    padding: 0.5rem 1.5rem; }
  .container {
    gap: 0.5rem;
    max-width: 75rem; }
  .card {
    flex: 1 1 100%; }
  .item {
    padding: 0.5rem;
    flex: 1 1 100%; }
  .auth-container {
    padding: 2rem 0; } }

/*# sourceMappingURL=style.css.map */