{% extends 'base.html' %}

{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
<section class="about">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id dolor vel erat congue tincidunt. Sed vitae magna euismod, aliquam turpis non, laoreet ex. Duis consequat, nisl a molestie fermentum, mauris ex aliquet lectus, eget volutpat lectus dolor eu sapien. Sed vitae odio nec quam vestibulum hendrerit. Aliquam erat volutpat. Nam rhoncus sit amet enim eu hendrerit. Donec vel dolor lorem.</p>
    <p>Our vision is to be a global leader in providing high-quality products and services. Our mission is to exceed customer expectations, foster a culture of innovation, and consistently deliver value to our clients.</p>
    <p>Our core values include:</p>
    <ul>
        <li>Integrity</li>
        <li>Quality</li>
        <li>Customer Focus</li>
        <li>Innovation</li>
        <li>Teamwork</li>
    </ul>
</section>
{% endblock %}
