{% extends 'base.html' %}

{% load static %}

{% block title %}Products{% endblock %}

{% block content %}
<section class="products">
    <h2>Our Products</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="list-group">
                    <a href="{% url 'products' %}" class="list-group-item list-group-item-action{% if not selected_category %} active{% endif %}">All Products</a>
                    {% for category in categories %}
                        <a href="{% url 'products_by_category' category.id %}" class="list-group-item list-group-item-action{% if selected_category == category %} active{% endif %}">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                      {% for product in products %}
                      <div class="col-md-6 product-col">
                        <div class="product-card-container">
                          <div class="card">
                            <img src="{% static product.image.url %}" alt="{{ product.name }}" class="card-img-top">
                            <div class="card-body">
                              <h3 class="card-title">{{ product.name }}</h3>
                              <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                            </div>
                              <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">View Details</a>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}
